.app__list--area {
  width: 50%;
  border: 1px solid var(--main-border-clr);
  border-radius: 0.5rem;
  margin-top: 2rem;
}
.app__list--list {
  width: 100%;
  padding: 1rem;
}
.app__list--task {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.task::before {
  content: "* ";
  color: black;
}
.task {
  flex: 1;
  line-height: 2rem;
  border-bottom: 1px solid var(--list-item-b-border-clr);
  max-inline-size: calc(100% - 3rem);
  overflow-wrap: break-word;
}

.task__control--container {
  width: 3rem;
  line-height: 2rem;
  display: flex;
  align-items: end;
  border-bottom: 1px solid var(--list-item-b-border-clr);
}

.task__control {
  cursor: pointer;
  flex: 1;
  height: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 0;
  border: none;
  background-color: transparent;
  transform: 0.2s all;
}
.task__control:hover {
  font-size: 1.3rem;
}
#showMoreLessBtn {
  cursor: pointer;
  color: black;
  opacity: 0.5;
  background-color: transparent;
  border: none;
  text-decoration: underline;
  transition: 0.2s all;
}
#showMoreLessBtn:hover {
  transform: scale(1.05);
}

#editInput {
  position: relative;
  flex: 1;
  line-height: 2rem;
  font-size: 1rem;
  padding: 0 0.2rem;
  border: 1px solid var(--list-item-b-border-clr);
}
#editInput:focus {
  outline: 1px solid #ccc;
}
